In [1]:
2+2

4

In [2]:
50-5*6

20

In [3]:
(50-5*6)/4

5.0

In [4]:
8/5

1.6

In [5]:
17/3

5.666666666666667

In [6]:
17//3

5

In [7]:
17%3

2

In [8]:
5*3+2

17

In [9]:
5**2

25

In [10]:
2**7

128

In [11]:
width = 20
height = 5*9
width*height

900

In [12]:
n

NameError: name 'n' is not defined

In [13]:
4*3.75-1

14.0

In [14]:
tax = 12.5/100
price = 100.50
price * tax

12.5625

In [15]:
price + _

113.0625

In [16]:
round(_,2)

113.06

In [17]:
print('C:\some\name')

C:\some
ame

In [18]:
print(r'C:\some\name')

C:\some\name

In [19]:
text = ('Put several strings within parentheses '
...         'to have them joined together.')

In [20]:
text

'Put several strings within parentheses to have them joined together.'

In [22]:
word = 'python'
word[:4] + word[4:]

'python'

In [23]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]

In [24]:
x

[['a', 'b', 'c'], [1, 2, 3]]

In [25]:
x[0]

['a', 'b', 'c']

In [26]:
x[0][2]

'c'

In [27]:
a, b = 0, 1
while a< 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [28]:
i = 256*256
print('the value of i is', i)

the value of i is 65536

In [29]:
a, b = 0, 1
while a< 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [31]:
x = int(input('please enter an integer:'))

please enter an integer:42

In [35]:
if x<0 :
    x=0
    print('Negative changed to zero')
elif x == 0:
        print('zero')
elif x == 1:
        print('single')
else:
        print('more')

more

In [36]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [43]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [60]:
treehit =0
while treehit <10:
    treehit = treehit +1
    print('나무를 %s번 찍었습니다.' % treehit)
    if treehit ==10:
        print('나무 넘어갑니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.