In [2]:
temp = 2

In [3]:
print(temp)

2

In [4]:
temp

2

In [5]:
tempa

NameError: name 'tempa' is not defined

In [6]:
a = 7
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)

10
4
21
2.3333333333333335

In [7]:
a = 2

In [8]:
type(a)

int

In [9]:
a = 2.0

In [10]:
type(a)

float

In [13]:
a = 7 ; b = 3
print(a//b)    ###몫 구하기

2

In [14]:
### 나머지
print(a%b)

1

In [15]:
###제곱
print(a**b)

343

In [16]:
### 문자열 할당
temp = 'python is easy'
temp

'python is easy'

In [17]:
print(temp)

python is easy

In [18]:
a=7

In [19]:
a.

SyntaxError: invalid syntax (<ipython-input-19-b4ce96ddcee0>, line 1)

In [20]:
b ='7'

In [21]:
b

'7'

In [22]:
temp = 'python is easy'
len(temp)

14

In [23]:
'python'+'is easy'

'pythonis easy'

In [24]:
'python '+'is easy'

'python is easy'

In [25]:
a = 'python' ; b = 'is easy'
print(a + b)

pythonis easy

In [29]:
temp = 'python is easy'
temp[3]

'h'

In [30]:
temp[0:5]

'pytho'

In [31]:
temp[7:9]

'is'

In [34]:
temp[10:14]

'easy'

In [35]:
temp[3:-3]  ## -3은 맨뒤에서부터 마이너스해서, 뒤부터는 0부터 시작하지 않음, 디만 -3번째 문자는 출력하지않음.

'hon is e'

In [37]:
i = 200
if(i%100==0):   ## if(i%100)==0: 이라고 적어도 됨
    print('yes')

yes

In [38]:
temp = 'python is easy'

In [39]:
temp.split()

['python', 'is', 'easy']

In [40]:
temp.split('s')   ###s가 빠짐

['python i', ' ea', 'y']

In [41]:
temp2 = 'python,java,R,SAS'

In [42]:
temp2.split(',')

['python', 'java', 'R', 'SAS']

In [43]:
temp3 = temp2.split(',')
print(temp3)

['python', 'java', 'R', 'SAS']

In [44]:
','.join(temp3)

'python,java,R,SAS'

In [45]:
temp4 = ','.join(temp3)
print(temp4)

python,java,R,SAS

In [46]:
print('temp3 = ', len(temp3))
print('temp4 = ', len(temp4))

temp3 =  4
temp4 =  17

In [47]:
number = ['one','two','three','four']
print(number)

['one', 'two', 'three', 'four']

In [48]:
number_tuple=('one','two','three','four')
print(number_tuple)

('one', 'two', 'three', 'four')

In [50]:
list(number_tuple)

['one', 'two', 'three', 'four']

In [53]:
number[1]

'two'

In [54]:
number[2:4]

['three', 'four']

In [55]:
number[::2]  ##두칸씩 추출

['one', 'three']

In [56]:
number[0] = 'first'
print(number)

['first', 'two', 'three', 'four']

In [57]:
number[3] = '4'
print(number)

['first', 'two', 'three', '4']

In [58]:
number[0] = 'one'
number[3] = 'four'
number.append('five')
print(number)

['one', 'two', 'three', 'four', 'five']

In [60]:
number.append('six')
print(number)

['one', 'two', 'three', 'four', 'five', 'six', 'six']

In [61]:
del number[5]
print(number)

['one', 'two', 'three', 'four', 'five', 'six']

In [64]:
number.remove('six')
print(number)

['one', 'two', 'three', 'four', 'five']

In [65]:
number1 = ['one', 'two', 'three', 'four']
number2 = ['five', 'six', 'seven', 'eight']
number1.extend(number2)
print(number1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [67]:
number.sort()
print(number)

['five', 'four', 'one', 'three', 'two']

In [71]:
number=[1,2,3,4]
number.sort(reverse=False)   ###True, False는 꼭 작성해야함
print(number)

[1, 2, 3, 4]

In [72]:
number=(1,2,3,4)
print(number)
type(number)

(1, 2, 3, 4)

tuple

In [73]:
number[1]=4

TypeError: 'tuple' object does not support item assignment

In [74]:
fruit_price = [['apple',3500],['peer',2500],['cherry',5000]]
fruit_price=dict(fruit_price)
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000}

In [75]:
fruit_price.keys()

dict_keys(['apple', 'peer', 'cherry'])

In [76]:
fruit_price['cherry']

5000

In [77]:
school_class = {1: ['mina','jane','mark'],
                2 : ['peter','pay','parker'],
                3 : ['pay','joy','conan'] }

In [78]:
school_class.keys()

dict_keys([1, 2, 3])

In [79]:
school_class.get(2)  ### key 2 값만 가져옴

['peter', 'pay', 'parker']

In [80]:
school_class[2]   ### key 2 값만 가져옴

['peter', 'pay', 'parker']

In [81]:
school_class.values()   ### value값만 가져옴

dict_values([['mina', 'jane', 'mark'], ['peter', 'pay', 'parker'], ['pay', 'joy', 'conan']])

In [82]:
school_class.items()   ###전체를 다 가져옴

dict_items([(1, ['mina', 'jane', 'mark']), (2, ['peter', 'pay', 'parker']), (3, ['pay', 'joy', 'conan'])])

In [84]:
others = {'banana':3200, 'grape':2000}
fruit_price.update(others)     ### update는 추가
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000, 'banana': 3200, 'grape': 2000}

In [86]:
other_class = {4: ['jessica', 'john', 'peter']}
school_class.update(other_class)   ### update는 추가
print(school_class)

{1: ['mina', 'jane', 'mark'], 2: ['peter', 'pay', 'parker'], 3: ['pay', 'joy', 'conan'], 4: ['jessica', 'john', 'peter']}

In [87]:
a=10 ; b=20 ; c=30

In [88]:
a==b

False

In [89]:
a!=b

True

In [90]:
a<b

True

In [91]:
a>b

False

In [92]:
a in (10, 20, 30)

True

In [93]:
(a==b and a==c)

False

In [94]:
(a==b) & (a==c)  ###and와 &는 조금 다르다. &는 앞 가로의 값이 거짓이면 뒤 가로값을 계산하지 않고 결론낸다.

False

In [95]:
(a==b) or (a==c)

False

In [96]:
not(a==b)

True

In [97]:
not(a!=b)

False

In [98]:
python = True
if(python):
    print('조건문이 참입니다.')

조건문이 참입니다.

In [100]:
python = False      ### 값이 0이면 False로 인식
if(python):
    print('조건문이 참입니다.')
else:
    print('조건문이 참이 아닙니다.')

조건문이 참이 아닙니다.

In [101]:
python = False
pycharm = True
if(python) : 
    print("첫번째 조건문이 참입니다.") 
elif (pycharm) : 
    print("첫번째 조건문은 참이 아니고 두번째 조건문은 참입니다.")
else : 
    print("조건문이 참이 아닙니다.")

첫번째 조건문은 참이 아니고 두번째 조건문은 참입니다.

In [102]:
python = False
pycharm = False
if(python) : 
    print("첫번째 조건문이 참입니다.") 
elif (pycharm) : 
    print("첫번째 조건문은 참이 아니고 두번째 조건문은 참입니다.")
else : 
    print("조건문이 참이 아닙니다.")

조건문이 참이 아닙니다.

In [103]:
input('숫자를 입력하세요?')   #변수에 데이터를 받아 처리  input()함수

숫자를 입력하세요?123

'123'

In [104]:
int(input('숫자를 입력하세요?'))  #문자열을 숫자열로 바꾸려면 앞에 int

숫자를 입력하세요?123

123

In [117]:
x = int(input('숫자를 입력하세요?'))
if(x%2==0):
    print('짝수@@')
else:
    print('홀수!!')      ###내가 해냄!!!!

숫자를 입력하세요?123
홀수!!

In [12]:
x = int(input('점수를 입력하십시오.'))
if(x>80):
    print('등급= A')
elif(70<x<=80):
    print('등급= B')
elif(60<x<=70):
    print('등급= c')
else:
    print('등급= D')           ##내가 해냄!!!
print('점수=', x)

점수를 입력하십시오.80
등급= B
점수= 80

In [8]:
### 선생님 답
score = int(input('점수를 입력하세요.'))
if score > 80:
    degree = 'A'
elif (score> 70 and score <=80):
    degree = 'B'
elif (score< 60 and score <=70):
    degree = 'C'
else:
    degree = 'D'
print('점수는=',score, '등급은=',degree)

점수를 입력하세요.80
점수는= 80 등급은= B

In [10]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
list(range(1,30,3))     ### 3씩 차이나게

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [21]:
fruit = ['apple', 'pear', 'cherry']
type(fruit)

list

In [22]:
for i in fruit:
    print('i=',i)

i= apple
i= pear
i= cherry

In [23]:
fruits = ['apple', 'pear', 'cherry']
for fruit in fruits:
    print(fruit)

apple
pear
cherry

In [24]:
fruit_price = {'apple':3500, 'pear':2500, 'cherry': 5000}
for i in fruit_price.keys():
    print(i)

apple
pear
cherry

In [25]:
for i in fruit_price.values():
    print(i)

3500
2500
5000

In [30]:
for i in fruit_price.items():
    print(i)

('apple', 3500)
('pear', 2500)
('cherry', 5000)

In [31]:
fruit_price.items()          ###list 구조라 for문 가능

dict_items([('apple', 3500), ('pear', 2500), ('cherry', 5000)])

In [32]:
fruit_price = {'apple':3500, 'pear':2500, 'cherry': 5000}
for i in fruit_price.items():
    print('1=',i[0], '2=',i[1])

1= apple 2= 3500
1= pear 2= 2500
1= cherry 2= 5000

In [33]:
fruit_price={'apple':['a1','a2'], 'pear':['b1','b2'], 'cherry':['c1', 'c2']}
for i in fruit_price.items():
    print('item=', i)
    print('1=', i[0], '2=', i[1])
    print('11=', i[0], '2=', i[1][0])
    print('11=', i[0], '2=', i[1][1])
    print('*'*30)

item= ('apple', ['a1', 'a2'])
1= apple 2= ['a1', 'a2']
11= apple 2= a1
11= apple 2= a2
******************************
item= ('pear', ['b1', 'b2'])
1= pear 2= ['b1', 'b2']
11= pear 2= b1
11= pear 2= b2
******************************
item= ('cherry', ['c1', 'c2'])
1= cherry 2= ['c1', 'c2']
11= cherry 2= c1
11= cherry 2= c2
******************************

In [36]:
high_price=[]         ###어렵다..
low_price=[]
fruit_price = {'apple':3500, 'pear':2500, 'cherry': 5000}
for i in fruit_price.items():
    if i[1]>3000:
        high_price.append(i[0])
    else:
        low_price.append(i[0])
print('3000원이상인 과일=', high_price)
print('3000원이하인 과일=', low_price)

3000원이상인 과일= ['apple', 'cherry']
3000원이하인 과일= ['pear']

In [4]:
high_price=[]         ###어렵다..2
low_price=[]
fruit_price = {'apple':3500, 'pear':2500, 'cherry': 5000}
for i, item in enumerate(fruit_price.items()):
    print('i= ', i, 'item= ', item)
    print('item[0]=', item[0], 'item[1]=', item[1])
    if item[1]> 3000:
        high_price.append(item[0])
    else:
        low_price.append(item[0])
    print('*'*30)
    
print(high_price)
print(low_price)

i=  0 item=  ('apple', 3500)
item[0]= apple item[1]= 3500
******************************
i=  1 item=  ('pear', 2500)
item[0]= pear item[1]= 2500
******************************
i=  2 item=  ('cherry', 5000)
item[0]= cherry item[1]= 5000
******************************
['apple', 'cherry']
['pear']

In [3]:
names = ['철수', '영희', '영수']
for i, name in enumerate(names):
  print('{}번: {}'.format(i + 1, name))

1번: 철수
2번: 영희
3번: 영수

In [24]:
score = [50, 85, 97, 30, 88]   ## 점수와 등급을 출력하시오
### 출력-> '점수=', ??, '등급=' ,??)
for i in score:
    print('score=', i)
    if(i>80):
        print('A')
    elif(70<i<=80):
        print('B')
    elif(60<i<=70):
        print('c')
    else:
        print('D')
    print('*'*30)

score= 50
D
******************************
score= 85
A
******************************
score= 97
A
******************************
score= 30
D
******************************
score= 88
A
******************************

In [27]:
fruit = open('C:/jms/fruit.txt','wt')
### fruit = open('C:/\\jms\\/fruit.txt','wt') 와도 같다
fruit_price = {'apple':3500, 'pear':2500, 'cherry': 5000}
for item in fruit_price.items():
    print(item,file=fruit)
fruit.close()

In [30]:
fruit = open('C:/jms/fruit2.txt','wt')
fruit.write('apple 3500\n')     ###write 함수,  n은 엔터키 의미
fruit.write('peer 2500\n')
fruit.write('cherr 5000\n')
fruit.close()

In [31]:
fruit = open('C:/jms/fruit2a.txt','wt')
fruit.write('apple 3500')
fruit.write('peer 2500')
fruit.write('cherr 5000')
fruit.close()       ### with 문을 쓰면 close없어도 됨.

In [33]:
import csv
with open('C:/jms/fruit.csv','w',newline='') as fruit:
    writer = csv.writer(fruit,delimiter=',') 
    writer.writerow(['apple']) 
    writer.writerow(['peer']) 
    writer.writerow(['cherry']) 
    writer.writerow(['banana']) 
    writer.writerow(['peach'])    ### with 문을 쓰면 close없어도 됨.

In [34]:
fruit_path = open('c:/jms/fruit2.txt','rt')
fruit_path

fruit = fruit_path.readlines()
print(fruit)

['apple 3500\n', 'peer 2500\n', 'cherr 5000\n']

In [35]:
fruit_path = open('c:/jms/fruit.txt','rt')
fruit_path

fruit = fruit_path.readlines()
print(fruit)

["('apple', 3500)\n", "('pear', 2500)\n", "('cherry', 5000)\n"]

In [36]:
fruit_path = open('c:/jms/fruit2a.txt','rt')
fruit_path

fruit = fruit_path.readlines()
print(fruit)

['apple 3500peer 2500cherr 5000']

In [40]:
import csv

f = open('c:/jms/fruit.csv','rt')
csvRead = csv.reader(f)
csvRead

In [42]:
fruit = []
for i in csvRead:
    fruit.append(i)
    print(i)
print('fruit=' ,fruit)

['apple']
['peer']
['cherry']
['banana']
['peach']
fruit= [['apple'], ['peer'], ['cherry'], ['banana'], ['peach']]

In [59]:
treehit =0
while treehit <10:
    treehit = treehit +1
    print('나무를 %s번 찍었습니다.' % treehit)
    if treehit ==10:
        print('나무 넘어갑니다.')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [48]:
a = '야경'
print('{} 청년 아카데미'. format(a))

야경 청년 아카데미

In [61]:
a = '청년'
print('야경 %s 아카데미' %a)

야경 청년 아카데미

In [55]:
a = '청년'
b = '데미'
print('야경 %s 아카%s' %(a,b))

야경 청년 아카데미