<a href="https://colab.research.google.com/github/jmins33/ml_edu/blob/master/data%20%EB%B6%84%EC%84%9D/200807_Class_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

###  pandas 로 국민청원 데이터 분석하기

In [ ]:
df = pd.read_csv('C:/Users/ASIA-01/petition.csv', parse_dates=['start','end'])

In [ ]:
df.shape

(395547, 8)

In [ ]:
df.head()

,article_id,start,end,answered,votes,category,title,content
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ..."

In [ ]:
df.tail()

,article_id,start,end,answered,votes,category,title,content
395542,517117,2019-02-04,2019-03-06,0,3,보건복지,명절연휴 고속도로 무료반대,명절고속도로 무료보단 대다수의 서민들이 이용하는 대중교통 무료와 명절기간 증차로 했...
395543,517119,2019-02-04,2019-03-06,0,23,보건복지,광주사태 가짜 유공자들 정수기로 걸려내야함,광주사태 유공자들 차고 넘치는데 이래 많은 유공자들 그냥놓아두면 재앙이다.\n김대중...
395544,517120,2019-02-04,2019-03-06,0,0,안전/환경,환경문제,명절이면 후로 제일문제는 쓰레기 문제 입니다.\n제일문제는 선물세트와 농산물세트 입...
395545,517121,2019-02-04,2019-03-06,0,20,정치개혁,"청화대,더불어민주당, 당장 답하라,,,,,,","좌파 더불어민주당, 좌파 정권 청화대는 선한 국민들을 더는 기망하지 말고 담장 답하..."
395546,517122,2019-02-04,2019-03-06,0,16,인권/성평등,여성부 폐지,국민들이 원합니다\n폐지 좀 시키세요;

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395547 entries, 0 to 395546
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article_id  395547 non-null  int64
 1   start       395547 non-null  datetime64[ns]
 2   end         395547 non-null  datetime64[ns]
 3   answered    395547 non-null  int64
 4   votes       395547 non-null  int64
 5   category    395547 non-null  object
 6   title       395547 non-null  object
 7   content     395546 non-null  object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 24.1+ MB

In [ ]:
df.isnull().sum()

article_id    0
start         0
end           0
answered      0
votes         0
category      0
title         0
content       1
dtype: int64

In [ ]:
df.columns

Index(['article_id', 'start', 'end', 'answered', 'votes', 'category', 'title',
       'content'],
      dtype='object')

In [ ]:
df.dtypes

article_id             int64
start         datetime64[ns]
end           datetime64[ns]
answered               int64
votes                  int64
category              object
title                 object
content               object
dtype: object

In [ ]:
df.describe()

          article_id       answered         votes
count  395547.000000  395547.000000  3.955470e+05
mean   251608.934635       0.000073  1.501188e+02
std    153219.216242       0.008562  4.802583e+03
min        21.000000       0.000000  0.000000e+00
25%    115236.500000       0.000000  2.000000e+00
50%    253682.000000       0.000000  5.000000e+00
75%    386137.500000       0.000000  1.500000e+01
max    517122.000000       1.000000  1.192049e+06

In [ ]:
df.set_option('float_format', '{:f}'.format)       ####### 셋옵션에서 소수점변경

AttributeError: 'DataFrame' object has no attribute 'set_option'

In [ ]:
df.describe(include=np.object)

       category     title   content
count    395547    395547    395546
unique       17    346524    375224
top        정치개혁  이명박 출국금지  이명박 출국금지
freq      62750      3018       597

###  답변 대상 청원보기
20만건 이상 투표를 받으면 답변 대상 청원이 됩니다
20만건 이상 청원받은 내용으로 데이터프레임 만들기;
20만건 이상 투표를 받은 청원의 갯수를 세어보세요.

In [ ]:
df_votes = df['votes'] ; df_votes

0          9
1         17
2          0
3         53
4          0
          ..
395542     3
395543    23
395544     0
395545    20
395546    16
Name: votes, Length: 395547, dtype: int64

In [ ]:
df_20 = df[df['votes']> 200000] ; df_20.head(3)

,article_id,start,end,answered,votes,category,title,content
1752,1785,2017-09-03,2017-11-02,1,296330,인권/성평등,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
18111,18278,2017-09-30,2017-10-30,1,235372,인권/성평등,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...

In [ ]:
df_20.shape

(80, 8)

In [ ]:
len(df_20)

80

In [ ]:
df_10 = df[df['votes']>1000] ; df_10.count()

article_id    3472
start         3472
end           3472
answered      3472
votes         3472
category      3472
title         3472
content       3472
dtype: int64

In [ ]:
df_20.category

1752      인권/성평등
10894         미래
18111     인권/성평등
25032      안전/환경
43992       보건복지
           ...
363005    인권/성평등
375654      정치개혁
390787        기타
391208    인권/성평등
391984      정치개혁
Name: category, Length: 80, dtype: object

In [ ]:
df_20.category.value_counts()

인권/성평등         24
안전/환경          10
기타              8
정치개혁            8
문화/예술/체육/언론     7
반려동물            4
외교/통일/국방        4
보건복지            3
교통/건축/국토        3
육아/교육           3
성장동력            2
경제민주화           2
행정              1
미래              1
Name: category, dtype: int64

In [ ]:
df_20[['title','content','votes']]

,title,content,votes
1752,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...,296330
10894,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!,615354
18111,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...,235372
25032,'주취감형(술을 먹으면 형벌 감형)' 폐지를 건의(청원)합니다.,"'주취감형'이란, 술을 먹고 범행을 저지를 때, 심신미약 (이성이 없고 우발적)이라...",216774
43992,"권역외상센터 (이국종 교수님) 추가적, 제도적, 환경적, 인력 지원","청원사항)\n중증외상분야의 추가적, 제도적, 환경적, 인력 지원 방안마련\n현 의료...",281985
...,...,...,...
363005,조재범 코치를 강력처벌해주세요,그는 국가대표 심석희 외 다수의 여자선수들을 지속적으로 적어도 14년간 폭행해온 쓰...,269110
375654,여.야는 속히 공수처 신설하라 !!!,지금 대한 민국은 나라를 바로 잡기 위해 반드시 이번 정부내에 검찰과 법원의 확실한...,302856
390787,"경사 ***, 경장 *** 외 ***에서 뇌물받는지 조사부탁드립니다.","경사 ***, 경장 *** 등등 ***에서 뇌물받는지 조사부탁드립니다.\nㅡㅡㅡㅡㅡ...",312197
391208,"공공연한 여성 대상 약물 범죄 처벌과 ***을 비롯한 클럽, 유흥업소와 경찰 간의 ...",*** 사태의 핵심은 클럽&유흥업소 운영 관리인들의 의도적 약물 사용이 의심되는 납...,207784
391984,"시민의 이름으로, 이번 김경수 지사 재판에 관련된 법원 판사 전원의 사퇴를 명령합니다.","촛불혁명으로 세운 정부와 달리, 사법부는 여전히 과거의 구습과 적폐적 습관을 버리지...",270999

In [ ]:
df_20.head(5)

,article_id,start,end,answered,votes,category,title,content
1752,1785,2017-09-03,2017-11-02,1,296330,인권/성평등,청소년이란 이유로 보호법을 악용하는 잔인무도한 청소년들이 늘어나고있습니다. 반드시 ...,안녕하십니까. 청소년보호법이란 명목하에 나쁜짓을 일삼는 청소년들이 너무나 많아지고 ...
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
18111,18278,2017-09-30,2017-10-30,1,235372,인권/성평등,낙태죄 폐지와 자연유산 유도약(미프진) 합법화 및 도입을 부탁드립니다.,안녕하세요. 존경하는 대통령님 의원님\n낙태죄 폐지를 청원합니다.\n현재 대한민국은...
25032,26024,2017-11-04,2017-12-04,1,216774,안전/환경,'주취감형(술을 먹으면 형벌 감형)' 폐지를 건의(청원)합니다.,"'주취감형'이란, 술을 먹고 범행을 저지를 때, 심신미약 (이성이 없고 우발적)이라..."
43992,45581,2017-11-17,2017-12-17,1,281985,보건복지,"권역외상센터 (이국종 교수님) 추가적, 제도적, 환경적, 인력 지원","청원사항)\n중증외상분야의 추가적, 제도적, 환경적, 인력 지원 방안마련\n현 의료..."

In [ ]:
df_20 = df[df.votes> 200000]
df_20.sort_values(by='votes', ascending=False).head(5)

,article_id,start,end,answered,votes,category,title,content
313314,408609,2018-10-17,2018-11-16,0,1192049,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018년 10월 14일 엊그제 일어난 강서구 피시방 살인사건에 대한 청원입니다.\...
208597,269548,2018-06-13,2018-07-13,0,714875,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!
118970,142600,2018-02-19,2018-03-21,1,614127,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다","오늘 여자 단체전 팀추월에서 김보름, 박지우 선수는 팀전인데도 불구하고 개인의 영달..."
183791,230552,2018-05-11,2018-06-10,1,419006,인권/성평등,여성도 대한민국 국민입니다. 성별 관계없는 국가의 보호를 요청합니다.,최근 홍대 누드크로키 모델의 불법촬영 사건이 있었습니다.\n사건은 굉장히 빠르게 처...

### 20만건 이상 투표를 받은 청원을 별도의 컬럼을 만들어 줍니다. 컬럼 이름은 answer로 합니다.

In [ ]:
df['answer'] = df['votes'] >200000 ; df.head()

,article_id,start,end,answered,votes,category,title,content,answer
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,False
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...,False
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",False
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...,False
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",False

In [ ]:
df.shape

(395547, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395547 entries, 0 to 395546
Data columns (total 9 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   article_id  395547 non-null  int64
 1   start       395547 non-null  datetime64[ns]
 2   end         395547 non-null  datetime64[ns]
 3   answered    395547 non-null  int64
 4   votes       395547 non-null  int64
 5   category    395547 non-null  object
 6   title       395547 non-null  object
 7   content     395546 non-null  object
 8   answer      395547 non-null  bool
dtypes: bool(1), datetime64[ns](2), int64(3), object(3)
memory usage: 24.5+ MB

 ### 8번 bool 타입을 int타입으로 바꿔보자

In [ ]:
df['answer']= df['answer'].astype('int')
df.dtypes

article_id             int64
start         datetime64[ns]
end           datetime64[ns]
answered               int64
votes                  int64
category              object
title                 object
content               object
answer                 int32
dtype: object

### 답변대상 청원 중 아직 답변되지 않은 청원의 수를 계산해보시오. 답변됨1 답변안됨0

In [ ]:
df_asw = df_20.loc[df['answered']==0] ; df_asw

,article_id,start,end,answered,votes,category,title,content
137035,164255,2018-03-12,2018-04-11,0,216886,기타,GMO완전표시제 시행을 촉구합니다!,우리나라는 안전성 논란이 계속되고 있는 식용 GMO를 연간 200만 톤 이상 수입합...
138242,165796,2018-03-13,2018-04-12,0,304320,정치개혁,국민들은 정부 개헌안을 지지합니다. 정부의 개헌을 꼭 실현시켜 주십시오.,공약은 중요한 것입니다.\n국민과의 약속입니다.\n대통령님은 공약을 이행해주십시오....
144223,173355,2018-03-23,2018-04-22,0,209494,안전/환경,위장•몰래카메라 판매금지와 몰카범죄 처벌을 강화해주세요.,2012년 전국의 몰카범죄는 2400건 2015년에 들어 3배 이상 증가해 무려 7...
144874,174292,2018-03-24,2018-04-23,0,278128,안전/환경,미세먼지의 위험 그리고 오염 및 중국에대한 항의,미세먼지가 10년전에 비해 상당히 자주 몰려오고있습니다.\n언론에서도 중국발이라고 ...
148359,178781,2018-03-28,2018-04-27,0,215036,안전/환경,세월호 관련 청문회 위증한 조여옥대위 징계바랍니다.,세월호 관련해서 그 동안 거짓으로 감추고 숨겨왔던 사실들이 조금씩 드러나고 있습니다...
154986,187633,2018-04-06,2018-05-06,0,242286,경제민주화,삼성증권 시스템 규제와 공매도 금지,우리사주 280만주에 배당 주당 1000원 하기로 하고 현금배당 28억원이 나가야될...
161851,199622,2018-04-14,2018-05-14,0,236714,문화/예술/체육/언론,티비 조선의 종편 허가 취소 청원,"과거부터 현재진행형으로 허위, 과장, 날조 보도를 일삼고\n국민의 알권리를 호도하는..."
161950,199778,2018-04-15,2018-05-15,0,216163,기타,어른들에게 성적 학대와 조롱을 당하고 있는 아이들을 구해주세요.,"4월 1일 새벽 2시 경, 구글 서칭 중 불법 야동 사이트(https://y****..."
163363,201953,2018-04-16,2018-05-16,0,260624,정치개혁,선관위의 위법사항 내용에 따른 국회의원 전원 위법사실 여부 전수조사를 청원합니다.,이미 청와대가 선관위에 질의사항으로 접수한\n김기식 금융감독원장의 정치자금법 위반 ...
175768,219348,2018-05-02,2018-06-01,0,334173,기타,(한번씩만 봐주세요.)저의 일은 아니지만 이런 일은 좀 강력 처벌 강력하게 조치 해...,"일단 저의 일은 아니지만 저의 가족,친구,지인이 이런일을 당하면 정말 안되겠다고 생..."
184529,231701,2018-05-13,2018-06-12,0,226252,반려동물,유기견 보호소 폐지를 막아주세요!!!,대구 팔공산에 위치한 한나네 유기견 보호소를 도와주세요!!!\n대구 팔공산 한나네 ...
187991,236397,2018-05-18,2018-06-17,0,302635,외교/통일/국방,자주포 폭발사고로 전신화상을 입은 장병을 치료해 주시고 국가유공자로 지정해 주십시오,작년 8월 철원에서 발생한 K-9 자주포 폭발 사고로 이찬호 병장은 전신 화상을 입...
192426,242950,2018-05-25,2018-06-24,0,224539,기타,문재인 대통령님께 청원합니다.,"문재인 대통령님\n헌법개정안 실패, 풍계리 폭파, 북미정상회담 중지 등 오늘 하루만..."
193251,244045,2018-05-25,2018-06-24,0,240618,인권/성평등,무고죄 특별법의 제정을 촉구합니다.,최근 위계/권력에 의한 성범죄에 저항하기 위한 미투운동이 일부에 의하여 심각하게 변...
194822,246489,2018-05-28,2018-06-27,0,217143,인권/성평등,대검찰청의 불법적인 성폭력 수사메뉴얼 중단을 요청합니다.,"오늘 뉴스를 보니 대검찰청의 황당한 수사메뉴얼 개정안을 보게되었습니다.\n""성폭력을..."
208597,269548,2018-06-13,2018-07-13,0,714875,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...
211110,272632,2018-06-17,2018-07-17,0,214634,반려동물,개.고양이 식용종식 전동연(개를 가축에서 제외하라),"대통령께 청원을 올리기에 앞서,\n소중한 생명으로 태어나 감금틀에서 극한 고통을 받..."
211483,273112,2018-06-17,2018-07-17,0,207275,외교/통일/국방,남편선교사가 안티폴로감옥에 있습니다. (필리핀),저는 기독교대한성결교회 파송 배순영선교사입니다.\n남편(백영모선교사)과 저는 필리핀...
217468,281200,2018-06-24,2018-07-24,0,212424,반려동물,"표창원 의원의 개, 고양이 도살 금지 법안을 통과 시켜주세요!",2018. 6.20 일 표창원 의원은 대한민국에서 역사적인 동물보호법 개정안을 발의...
218365,282903,2018-06-24,2018-07-24,0,354935,기타,"가해자들은 떳떳이 생활하고, 집단 성폭행 당한 피해자인 저희아이는 오히려 더 죄인같...",저는 15살 여중생을 둔 엄마입니다.\n2018년 3월 저희 아이는 2000년생 남...
219857,284845,2018-06-26,2018-07-26,0,211296,문화/예술/체육/언론,디스패치 폐간을 요청합니다,디스패치 폐간을 요청합니다.\n연예계 언론에 굉장히 큰 영향을 끼치고 있는 이 디스...
227227,294226,2018-07-03,2018-08-02,0,208202,인권/성평등,여고생이 중고생8명에게 관악산끌려가 집단폭행을당했습니다 소년법폐지또는 개정청원합니다,서울에서 여고생이 관악산에끌려가 집단폭행을당했습니다\n안녕하세요 티비에서만 나오던 ...
242969,314584,2018-07-22,2018-08-21,0,413924,육아/교육,23개월 아기가 폭행에 장이 끊어져 죽었습니다.,고생하시는 청와대 관계자 및 대통령님.\n이 글을 꼭 한번만 읽어주세요.\n너무나 ...
248925,322420,2018-07-29,2018-08-28,0,208543,인권/성평등,웹하드 카르텔과 디지털성범죄 산업에 대해 특별 수사를 요구한다.,- 정부는 7월 28일 '그것이 알고싶다' 방송으로 드러난 웹하드 카르텔을 수사하라...
284574,369690,2018-09-06,2018-10-06,0,330587,인권/성평등,제 남편의 억울함을 풀어주세요!,제 남편이 어제 재판에서 징역6개월을 받고 그 자리에서 법정구속 되었습니다\n어제 ...
295554,384676,2018-09-19,2018-10-19,0,234236,기타,인천 여중생 자살 가해자 강력 처벌 희망 요망,저의 사랑스럽고 하나뿐인 동생에게\n인천 여중생 자살관련하여 궁금한이야기 y에도 방...
305378,398030,2018-10-04,2018-11-03,0,257471,인권/성평등,성범죄피해자의 집주소와 주민번호등을 가해자에게 보내는 법원을 막아주세요,안녕하세요 저는 24살 95년생 여성입니다.\n2015년도에 준강간을 당해서 고소를...
312931,408154,2018-10-16,2018-11-15,0,216448,교통/건축/국토,카풀반대,불법카풀을 허용을 반대합니다.\n수십년간 길바닦을 일터로 생계유지를 위해 고생하신\...
313314,408609,2018-10-17,2018-11-16,0,1192049,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018년 10월 14일 엊그제 일어난 강서구 피시방 살인사건에 대한 청원입니다.\...
314764,410447,2018-10-18,2018-11-17,0,214952,보건복지,경남양산시 모 산부인과 의료사고 입니다. 제발 도와주세요 (산모의 남편입니다),저는 산모의 남편이며 사망한 신생아의 아빠입니다. 사고당사자인 산모는 38세입니다....
314823,410524,2018-10-18,2018-11-17,0,216834,안전/환경,심신미약 피의자에 의해 죽게된 우리 딸 억울하지 않게 해주세요,저는 억울하게 죽게된 딸의 아빠입니다. 너무 억울해서 이렇게나마 글을 올립니다.\n...
315634,411485,2018-10-19,2018-11-18,0,233495,문화/예술/체육/언론,더 이스트라이트 폭행,대한민국의 국민으로서 너무 화가나네요.\n평균 연령 15살인 더 이스트라이트는 소속...
316569,412722,2018-10-20,2018-11-19,0,261418,인권/성평등,조두순의 출소를 반대합니다,제 얘기를 하기에 앞서 요즘 페이스북이라는 sns에서 화제가 되고 있는 글을 하나 ...
318234,414891,2018-10-22,2018-11-21,0,256004,인권/성평등,5년 전 여성의 질과 항문에 팔을 넣어 사망에 이르게 한 사건의 재조사를 요구합니다,[ 1 ]\n본 사건은 2013년 38세 남성이 직장 내 동료인 38세 여성과 퇴근...
320034,417147,2018-10-23,2018-11-22,0,214306,안전/환경,강서구 아파트 살인사건 피해차의 딸입니다.,18년 10월22일 강서구 등촌동 47세 여성 살인사건의 주범 저희아빠는 절대 심신...
321042,418376,2018-10-24,2018-11-23,0,211546,정치개혁,소년법 개정을 촉구 합니다! 17살 조카가 자살을 했습니다,https://pann.nate.com/talk/343936115\n저는 지난 8월...
327507,426349,2018-10-31,2018-11-30,0,211766,안전/환경,제발 도와주세요.. 너무나 사랑하는 23살 예쁜딸이 잔인한 두번의 살인행위로 차디찬...,국민 여러분 제발 도와주세요.\n너무 사랑하는 23살 이쁜 딸이 꽃다운 나이에 억울...
327873,426834,2018-10-31,2018-11-30,0,416093,인권/성평등,"132cm, 31kg의 왜소한 50대 여성이 180cm가 넘는 건장한 20세 남성에...",http://m.news1.kr/articles/?3464603\n관련 기사입니다....
335887,436901,2018-11-09,2018-12-09,0,206447,인권/성평등,부하 여군을 강간한 두 명의 해군 간부를 처벌해주십시오.,2010년 9월경 해군 중위가 직속상관에게 상습적 강간과 강제 추행을 당한 사건이 ...
336559,437737,2018-11-09,2018-12-09,0,397079,인권/성평등,억울하게 떠나신 저의 아버지의 원한을 풀어주세요,46일동안 눈 한번 뜨시지 못한 채 11월 6일 새벽 4시에 저의 아버지가 억울하게...
340046,442093,2018-11-14,2018-12-14,0,365418,인권/성평등,이수역 폭행사건,11월 13일 새벽4시 경 이수역의 한 맥주집에서 남자 다섯명이 여성 두 명을 폭행...
343587,446686,2018-11-19,2018-12-19,0,202548,인권/성평등,"경찰은 ‘일베 여친, 전여친 몰카사건’을 철저히 수사해서 범죄자들 처벌하라","2018년 11월 18일 ‘일간 베스트’ 사이트에 여친인증, 전여친인증 등의제목의 ..."
345700,449519,2018-11-22,2018-12-22,0,216615,안전/환경,"중국 알루미늄공장,막아주세요","안녕하세요 대통령님,\n광양시에서 살아가고있는 시민입니다\n광양시에 중국기업이 알루..."
349254,454045,2018-11-27,2018-12-27,0,214251,반려동물,도살장에서 망치로 머리를 맞던 개가 잠시 튀어나가 옆에있는 자신의 새끼에게 젖물리며...,아래의 링크를 봐주세요\n사람과 똑같이 자신의 자식을 귀히여기고 사람과 똑같이 죽는...
355362,462340,2018-12-06,2019-01-05,0,221317,육아/교육,짐승보다 못한 위탁모 에게 굶기고 맞아죽은 15개월된 저희딸 얘기좀 들어주세요....,짐승 같은 위탁모(김모씨) 에게 맞아 죽은 15개월 된 저희 딸 서원이가 억울하게 ...
355595,462623,2018-12-07,2019-01-06,0,243938,정치개혁,국회의원 내년 연봉 2000만원 인상 추진..최저임금 인상률보다 높은 14%.. 셀...,국회의원 내년 연봉 2000만원 인상 추진..최저임금 인상률보다 높은 14%로 인상...
363005,472309,2018-12-18,2019-01-17,0,269110,인권/성평등,조재범 코치를 강력처벌해주세요,그는 국가대표 심석희 외 다수의 여자선수들을 지속적으로 적어도 14년간 폭행해온 쓰...
375654,489302,2019-01-07,2019-02-06,0,302856,정치개혁,여.야는 속히 공수처 신설하라 !!!,지금 대한 민국은 나라를 바로 잡기 위해 반드시 이번 정부내에 검찰과 법원의 확실한...
390787,510422,2019-01-29,2019-02-28,0,312197,기타,"경사 ***, 경장 *** 외 ***에서 뇌물받는지 조사부탁드립니다.","경사 ***, 경장 *** 등등 ***에서 뇌물받는지 조사부탁드립니다.\nㅡㅡㅡㅡㅡ..."
391208,511075,2019-01-29,2019-02-28,0,207784,인권/성평등,"공공연한 여성 대상 약물 범죄 처벌과 ***을 비롯한 클럽, 유흥업소와 경찰 간의 ...",*** 사태의 핵심은 클럽&유흥업소 운영 관리인들의 의도적 약물 사용이 의심되는 납...
391984,512112,2019-01-30,2019-03-01,0,270999,정치개혁,"시민의 이름으로, 이번 김경수 지사 재판에 관련된 법원 판사 전원의 사퇴를 명령합니다.","촛불혁명으로 세운 정부와 달리, 사법부는 여전히 과거의 구습과 적폐적 습관을 버리지..."

In [ ]:
df_asw.count()

article_id    51
start         51
end           51
answered      51
votes         51
category      51
title         51
content       51
dtype: int64

In [ ]:
df[df['answer']==1]['answered'].value_counts()

0    51
1    29
Name: answered, dtype: int64

### 답변 대상 청원 중 투표를 가장 많이 받은 것

In [ ]:
df_20 = df[df.votes> 200000]
df_20.sort_values(by='votes', ascending=False).head(5)

,article_id,start,end,answered,votes,category,title,content,answer
313314,408609,2018-10-17,2018-11-16,0,1192049,안전/환경,강서구 피시방 살인 사건. 또 심신미약 피의자입니다.,2018년 10월 14일 엊그제 일어난 강서구 피시방 살인사건에 대한 청원입니다.\...,1
208597,269548,2018-06-13,2018-07-13,0,714875,외교/통일/국방,"제주도 불법 난민 신청 문제에 따른 난민법, 무사증 입국, 난민신청허가 폐지/개헌 ...",2012년 난민법 제정으로 인해 외국인은 한달 무비자로 입국할 수 있으나 난민신청자...,1
10894,10949,2017-09-06,2017-12-05,1,615354,미래,조두순 출소반대,제발 조두순 재심다시해서 무기징역으로 해야됩니다!!!,1
118970,142600,2018-02-19,2018-03-21,1,614127,문화/예술/체육/언론,"김보름, 박지우 선수의 자격박탈과 적폐 빙상연맹의 엄중 처벌을 청원합니다","오늘 여자 단체전 팀추월에서 김보름, 박지우 선수는 팀전인데도 불구하고 개인의 영달...",1
183791,230552,2018-05-11,2018-06-10,1,419006,인권/성평등,여성도 대한민국 국민입니다. 성별 관계없는 국가의 보호를 요청합니다.,최근 홍대 누드크로키 모델의 불법촬영 사건이 있었습니다.\n사건은 굉장히 빠르게 처...,1

### 어느 분야의 청원이 가장 많이 들어왔는지
청원이 많이 들어온 순서 3개는 어느 분야?

In [ ]:
df.category.value_counts().index[:3]

Index(['정치개혁', '기타', '인권/성평등'], dtype='object')

In [ ]:
type(df['category'].value_counts())

pandas.core.series.Series

In [ ]:
category = pd.DataFrame(df['category'].value_counts().reset_index())
category

          index  category
0          정치개혁     62750
1            기타     48682
2        인권/성평등     34993
3         안전/환경     30638
4      교통/건축/국토     28184
5      외교/통일/국방     26626
6         육아/교육     25537
7          보건복지     24848
8           일자리     23225
9            행정     20268
10  문화/예술/체육/언론     18207
11           미래     18000
12        경제민주화     16793
13         성장동력      7253
14         반려동물      4057
15    저출산/고령화대책      3584
16         농산어촌      1902

In [ ]:
category.columns = ['category', 'counts']
category.head(3)

  category  counts
0     정치개혁   62750
1       기타   48682
2   인권/성평등   34993

In [ ]:
category = pd.DataFrame(df['category'].value_counts())
category.head(3)

        category
정치개혁       62750
기타         48682
인권/성평등     34993

### 시계열 데이터 보기
월별 청원수를 집계해 보세요.
1. 청원이 가장 많이 들어온 달
2. 요일별 청원수

In [ ]:
df['start']

0        2017-08-19
1        2017-08-19
2        2017-08-19
3        2017-08-19
4        2017-08-19
            ...
395542   2019-02-04
395543   2019-02-04
395544   2019-02-04
395545   2019-02-04
395546   2019-02-04
Name: start, Length: 395547, dtype: datetime64[ns]

In [ ]:
df['month'] = df['start'].dt.strftime('%m')

In [ ]:
df.head()

,article_id,start,end,answered,votes,category,title,content,answer,month
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,0,08
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...,0,08
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0,08
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...,0,08
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0,08

In [ ]:
df['month'].value_counts()

01    52941
11    52847
09    40888
12    38498
10    31687
08    28851
02    28117
07    25714
05    25499
06    25483
04    23227
03    21795
Name: month, dtype: int64

In [ ]:
df['date'] = df['start'].dt.weekday

In [ ]:
df['date'].value_counts()  # 요일숫자(0-월, 1-화)

1    65229
3    63072
2    61966
4    56646
0    54234
5    50984
6    43416
Name: date, dtype: int64

In [ ]:
df['year'] = df['start'].dt.year

In [ ]:
df['year'].value_counts()

2018    299565
2017     72119
2019     23863
Name: year, dtype: int64

In [ ]:
df.head()

,article_id,start,end,answered,votes,category,title,content,answer,month,date,year
0,21,2017-08-19,2017-11-17,0,9,안전/환경,스텔라 데이지호에 대한 제안입니다.,스텔라 데이지호에 대한 제안입니다.\n3월31일 스텔라 데이지호가 침몰하고 5달째가...,0,08,5,2017
1,22,2017-08-19,2017-11-17,0,17,기타,비리제보처를 만들어주세요.,현 정부에 국민들이 가장 원하는 것은 부패척결입니다. 우리 사회에 각종 비리들이 ...,0,08,5,2017
2,23,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0,08,5,2017
3,24,2017-08-19,2017-08-26,0,53,일자리,공공기관 무조건적인 정규직전환을 반대합니다.,현정부에서 정규직 일자리를 늘리는 것에 찬성합니다. 그런데 공공기관 비정규직들은 인...,0,08,5,2017
4,25,2017-08-19,2017-09-03,0,0,미래,제2의 개성공단,"만일 하시는 대통령님 및 각 부처 장관님,주무관님들 안녕하세요!!\n전남 목포에서 ...",0,08,5,2017

### https://blog.naver.com/wideeyed/221603462366

In [ ]:
import re
p = r'.*(돌봄|아이|초등|보육).*'
care = df[df['title'].str.match(p)] |
           df['content'].str.match(p, flags=re.MULTILINE)
care.shape

SyntaxError: invalid syntax (<ipython-input-1-c63741fc0d38>, line 3)