### Sklearn

In [1]:
docs = ['동물원 코끼리',
       '동물원 원숭이 바나나',
       '엄마 코끼리 아기 코끼리',
        '원숭이 바나나 코끼리 바나나']

In [6]:
doc_ls=[]
for doc in docs:
    doc_ls.append(doc.split(' '))
doc_ls

[['동물원', '코끼리'],
 ['동물원', '원숭이', '바나나'],
 ['엄마', '코끼리', '아기', '코끼리'],
 ['원숭이', '바나나', '코끼리', '바나나']]

In [3]:
#토큰빈도계산 : CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer
# 선언
count_vect = CountVectorizer()
TDM = count_vect.fit_transform(docs)
TDM.toarray()

array([[1, 0, 0, 0, 0, 1],
       [1, 1, 0, 0, 1, 0],
       [0, 0, 1, 1, 0, 2],
       [0, 2, 0, 0, 1, 1]], dtype=int64)

In [4]:
TDM.toarray().T

array([[1, 1, 0, 0],
       [0, 1, 0, 2],
       [0, 0, 1, 0],
       [0, 0, 1, 0],
       [0, 1, 0, 1],
       [1, 0, 2, 1]], dtype=int64)

In [8]:
import pandas as pd

doc_names = ['문서'+str(i) for i in range(len(doc_ls))]
doc_names

['문서0', '문서1', '문서2', '문서3']

In [9]:
vocab = count_vect.get_feature_names()
print(vocab)

['동물원', '바나나', '아기', '엄마', '원숭이', '코끼리']

In [11]:
df_TDM = pd.DataFrame(TDM.toarray().T, columns=doc_names)
df_TDM['단어'] = vocab
df_TDM.set_index('단어')

     문서0  문서1  문서2  문서3
단어
동물원    1    1    0    0
바나나    0    1    0    2
아기     0    0    1    0
엄마     0    0    1    0
원숭이    0    1    0    1
코끼리    1    0    2    1