In [1]:
docs = ['동물원 코끼리',
       '동물원 원숭이 바나나',
       '엄마 코끼리 아기 코끼리',
        '원숭이 바나나 코끼리 바나나']

In [2]:
doc_ls=[]
for doc in docs:
    doc_ls.append(doc.split(' '))
doc_ls

[['동물원', '코끼리'],
 ['동물원', '원숭이', '바나나'],
 ['엄마', '코끼리', '아기', '코끼리'],
 ['원숭이', '바나나', '코끼리', '바나나']]

In [3]:
import gensim
from gensim import corpora

# doc_ls = [doc.split() for doc in docs] 한줄 식

doc_ls=[]
for doc in docs:
    doc_ls.append(doc.split())
    
print(doc_ls)

[['동물원', '코끼리'], ['동물원', '원숭이', '바나나'], ['엄마', '코끼리', '아기', '코끼리'], ['원숭이', '바나나', '코끼리', '바나나']]

In [4]:
id2word = corpora.Dictionary(doc_ls)
id2word

In [5]:
# TDM = [id2word.doc2bow(doc) for doc in doc_ls]
TDM=[]
for doc in doc_ls:
    TDM.append(id2word.doc2bow(doc))
TDM

[[(0, 1), (1, 1)],
 [(0, 1), (2, 1), (3, 1)],
 [(1, 2), (4, 1), (5, 1)],
 [(1, 1), (2, 2), (3, 1)]]

In [6]:
from gensim.matutils import sparse2full
import numpy as np
import pandas as pd

In [8]:
doc_names = ['문서'+str(i) for i in range(len(doc_ls))]
doc_names

['문서0', '문서1', '문서2', '문서3']

In [10]:
vocab = [id2word[i] for i in id2word.keys()]
vocab

['동물원', '코끼리', '바나나', '원숭이', '아기', '엄마']

In [11]:
DTM_matrix = [sparse2full(doc, len(vocab)).tolist() for doc in TDM]
DTM_matrix

[[1.0, 1.0, 0.0, 0.0, 0.0, 0.0],
 [1.0, 0.0, 1.0, 1.0, 0.0, 0.0],
 [0.0, 2.0, 0.0, 0.0, 1.0, 1.0],
 [0.0, 1.0, 2.0, 1.0, 0.0, 0.0]]

In [12]:
df_TDM = pd.DataFrame(np.array(DTM_matrix , dtype=int).T, columns=doc_names)
df_TDM['단어'] = vocab
df_TDM.set_index('단어')

     문서0  문서1  문서2  문서3
단어
동물원    1    1    0    0
코끼리    1    0    2    1
바나나    0    1    0    2
원숭이    0    1    0    1
아기     0    0    1    0
엄마     0    0    1    0