## TF-IDF

In [1]:
docs = ['오늘 동물원에서 원숭이와 코끼리를 봤어',
       '동물원에서 원숭이에게 바나나를 줬어 바나나를']

In [2]:
import pandas as pd # 데이터프레임 사용을 위해
from math import log # IDF 계산을 위해

In [3]:
vocab = list(set(w for doc in docs for w in doc.split()))
vocab.sort()

In [15]:
N = len(docs) # 총 문서의 수

def tf(t, d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
    return log(N/(df))

def tfidf(t, d):
    return tf(t,d)* idf(t)

###  TF

In [13]:
result = []
for i in range(N): # 각 문서에 대해서 아래 명령을 수행
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]        
        result[-1].append(tf(t, d))

tf_ = pd.DataFrame(result, columns = vocab)
tf_

   동물원에서  바나나를  봤어  오늘  원숭이에게  원숭이와  줬어  코끼리를
0      1     0   1   1      0     1   0     1
1      1     2   0   0      1     0   1     0

### IDF

In [16]:
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))

idf_ = pd.DataFrame(result, index = vocab, columns = ["IDF"])
idf_

            IDF
동물원에서  0.000000
바나나를   0.693147
봤어     0.693147
오늘     0.693147
원숭이에게  0.693147
원숭이와   0.693147
줬어     0.693147
코끼리를   0.693147

### TF-IDF

In [17]:
result = []
for i in range(N):
    result.append([])
    d = docs[i]
    for j in range(len(vocab)):
        t = vocab[j]

        result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_

   동물원에서      바나나를        봤어        오늘     원숭이에게      원숭이와        줬어      코끼리를
0    0.0  0.000000  0.693147  0.693147  0.000000  0.693147  0.000000  0.693147
1    0.0  1.386294  0.000000  0.000000  0.693147  0.000000  0.693147  0.000000