### 파이썬 기초
* 기억장소
 - 변수
* 연산자
 -산술 연산
 -논리 연산
 -비교 연산
* 구문
 - 비교문
 - 반복문
* 함수
* 클래스

### 프로그램이 하는 일
1. 기억장소에 데이터를 넣는다. (입력)
2. 기억장소의 데이터를 (수정/조작)한다.
3. 기억장소의 데이터를 (판단)한다.
4. 기억장소의 데이터를 출력(표현)한다.
5. 반복 업무를 대행한다.

### 기억장소 만들기 : 변수 생성
* 변수 명명 규칙
 - 알파뉴메릭(A~Za~1~9_)으로 작성
 - 시작은 숫자가 들어갈 수 없다
 - 띄어쓰기를 할 수 없다.

### 변수
- 타입  형 지정이 없음
- 객체형 변수 형태

In [14]:
a1=0
print("a1 type", type(a1))

a1 type <class 'int'>

In [15]:
a2='0'
print("a2 type", type(a2))

a2 type <class 'str'>

In [16]:
b1 = 4
print("b1 type", type(b1))

b1 type <class 'int'>

In [17]:
b2 = '4'
print("b2 type", type(b2))

b2 type <class 'str'>

In [18]:
c1= a1+b1
print(c1)

4

In [19]:
c2 = a2+b2
print(c2)

04

### 데이터 형
* 단순형
    * int
    * float
    * str
* 배열형
    * 리스트 [ ]: ar[ ]  #index, a =[ ] # 리스트
    * 튜플 () : ar[ ]  # 함수 a =() 튜플
    * 딕셔너리 {} : {키 : 벨류} # 내부에 키 밸류 값으로 존재

In [24]:
# 리스트형 [ ]
ar = [1, 2, 3.2, '4', [5.1, 6.2, '7.3']]
print(ar, type(ar))
print('ar의 2번째 요소 (인덱스는 0부터 시작):', ar[1])
ar[1]= '2번째요소'
print('ar의 2번째 요소 (인덱스는 0부터 시작):', ar[1])

[1, 2, 3.2, '4', [5.1, 6.2, '7.3']] <class 'list'>
ar의 2번째 요소 (인덱스는 0부터 시작): 2
ar의 2번째 요소 (인덱스는 0부터 시작): 2번째요소

In [22]:
# 튜플형 [ ]
tr = (1, 2, 3.2, '4', [5.1, 6.2, '7.3'])
print(tr, type(tr))
print('tr의 2번째 요소 (인덱스는 0부터 시작):', tr[1])
# 튜플은 요소 수정 불가!!!

(1, 2, 3.2, '4', [5.1, 6.2, '7.3']) <class 'tuple'>
tr의 2번째 요소 (인덱스는 0부터 시작): 2

In [28]:
# 딕셔너리 {}
dr = {1: 2, 2:'3.2', '3': [5.1, 6.2, '7.3']}
print(dr, type(dr))
print('dr의 인덱스1인 요소 (인덱스는 키값):', dr[1])
print('dr의 인덱스"3":', dr['3'])
dr[1]= '2번째요소' # 키를 참조해서 밸류값 수정 가능
print(dr)

{1: 2, 2: '3.2', '3': [5.1, 6.2, '7.3']} <class 'dict'>
dr의 인덱스1인 요소 (인덱스는 키값): 2
dr의 인덱스"3": [5.1, 6.2, '7.3']
{1: '2번째요소', 2: '3.2', '3': [5.1, 6.2, '7.3']}

In [29]:
# 요소별 출력
i=0
for a in ar:
    print(i,'번째 요소',a)
    i+=1

0 번째 요소 1
1 번째 요소 2번째요소
2 번째 요소 3.2
3 번째 요소 4
4 번째 요소 [5.1, 6.2, '7.3']

In [32]:
# 요소별 출력
i=0
for a in tr:
    print(i,'번째 요소',a)
    i+=1

0 번째 요소 1
1 번째 요소 2번째요소
2 번째 요소 3.2
3 번째 요소 4
4 번째 요소 [5.1, 6.2, '7.3']

In [31]:
# 요소별 출력
i=0
for a in dr:
    print(i,'번째 요소',a)
    i+=1

0 번째 요소 1
1 번째 요소 2
2 번째 요소 3

In [33]:
# 요소별 출력
i=0
for a in dr:
    print(i,'번째 요소',a, "=>", dr[a])
    i+=1

0 번째 요소 1 => 2번째요소
1 번째 요소 2 => 3.2
2 번째 요소 3 => [5.1, 6.2, '7.3']

### 연산자
* 산술연산 : = - * / % //
* 비교연산 : < > <= >= == !=

In [36]:
a1 = 5
b1 = 3
print('몫연산자:', a1//b1)
print('나머지연산자:', a1%b1)

몫연산자: 1
나머지연산자: 2

In [37]:
print(a1>b1)

True

### 판단문 if
* if

In [39]:
if(a1>b1):
    print(a1,"은 ",b1, "보다 큽니다.")
else:
        print(a1,"은 ",b1, "보다 크지 않습니다.")

5 은  3 보다 큽니다.

### 반복문 for
for 요소 in 배열:

### 반복문 while => 무한루프 조심
while(조건식):
    조건이 참인경우 실행

### 이스케이프 문자열
    *\t :탭
    *\n :한줄내리기
    *\\ :역슬래시 표시

In [40]:
print('안녕하세요 \t 여러분 \n 반갑습니다. \\ \\')

안녕하세요 	 여러분
 반갑습니다. \ \

### 구구단 표 만들기 (실습)
* 3으로 나뉘어지는 수옆에 * 표시
* 4로 나뉘어지는 수옆에 _ 표시

In [61]:
a= [1, 2, 3, 4, 5, 6, 7, 8, 9]
b= [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in a:
    print('\n')
    for j in b:
        if (i*j%3==0):
            print(i*j,'*',end='\t')
        elif (i*j%4==0):
            print(i*j,'_', end='\t')
        else:
            print(i*j, end='\t')

1	2	3 *	4 _	5	6 *	7	8 _	9 *

2	4 _	6 *	8 _	10	12 *	14	16 _	18 *

3 *	6 *	9 *	12 *	15 *	18 *	21 *	24 *	27 *

4 _	8 _	12 *	16 _	20 _	24 *	28 _	32 _	36 *

5	10	15 *	20 _	25	30 *	35	40 _	45 *

6 *	12 *	18 *	24 *	30 *	36 *	42 *	48 *	54 *

7	14	21 *	28 _	35	42 *	49	56 _	63 *

8 _	16 _	24 *	32 _	40 _	48 *	56 _	64 _	72 *

9 *	18 *	27 *	36 *	45 *	54 *	63 *	72 *	81 *

In [57]:
for i in range(1,10):
    print('\n')
    for j in range(1,10):
        c= i*j
        if c%3==0:
            print(c,'*', end='\t')
        elif c%4==0:
            print(c,'_', end='\t')
        else:
            print(c, end='\t')

1	2	3 *	4 _	5	6 *	7	8 _	9 *

2	4 _	6 *	8 _	10	12 *	14	16 _	18 *

3 *	6 *	9 *	12 *	15 *	18 *	21 *	24 *	27 *

4 _	8 _	12 *	16 _	20 _	24 *	28 _	32 _	36 *

5	10	15 *	20 _	25	30 *	35	40 _	45 *

6 *	12 *	18 *	24 *	30 *	36 *	42 *	48 *	54 *

7	14	21 *	28 _	35	42 *	49	56 _	63 *

8 _	16 _	24 *	32 _	40 _	48 *	56 _	64 _	72 *

9 *	18 *	27 *	36 *	45 *	54 *	63 *	72 *	81 *