In [13]:
# 국어, 영어, 수학, 과학 점수
test_score = {'홍길동':[90, 85, 77, 80],
              '이순신':[88, 96, 56, 60],
              '허준':[56, 53, 64, 66],
              '문익점':[76, 89, 39, 70]
             }

In [14]:
import pandas as pd
t = pd.DataFrame(test_score)

In [15]:
t.index = '국어', '영어','수학','과학'
t

    홍길동  이순신  허준  문익점
국어   90   88  56   76
영어   85   96  53   89
수학   77   56  64   39
과학   80   60  66   70

In [16]:
#학생별 채점 결과는? (평균, 과목최고, 과목 최저 점수)
print('홍길동 평균=', t['홍길동'].mean() )
print('이순신 평균=', t['이순신'].mean() )
print('허준 평균=', t['허준'].mean() )
print('문익점 평균=', t['문익점'].mean() )

홍길동 평균= 83.0
이순신 평균= 75.0
허준 평균= 59.75
문익점 평균= 68.5

In [21]:
print('홍길동 과목 최고 점수=', t['홍길동'].max())
print('이순신 과목 최고 점수=', t['이순신'].max() )
print('허준 과목 최고 점수=', t['허준'].max() )
print('문익점 과목 최고 점수=', t['문익점'].max() )

홍길동 과목 최고 점수= 90
이순신 과목 최고 점수= 96
허준 과목 최고 점수= 66
문익점 과목 최고 점수= 89

In [22]:
print('홍길동 과목 최저 점수=', t['홍길동'].min())
print('이순신 과목 최저 점수=', t['이순신'].min() )
print('허준 과목 최저 점수=', t['허준'].min() )
print('문익점 과목 최저 점수=', t['문익점'].min() )

홍길동 과목 최저 점수= 77
이순신 과목 최저 점수= 56
허준 과목 최저 점수= 53
문익점 과목 최저 점수= 39

In [144]:
columns2 = list(t.columns)

In [162]:
#합격자는 누구인가?    # 과락 40(최저점수가 40보다 높아야), 평균 60을 넘어야함
for i in columns2:
    if t[i].mean() > 60 & t[i].min() > 40 :
        print('i=',i, '합격')
    else:
        print('i=',i, '불합격')

i= 홍길동 불합격
i= 이순신 합격
i= 허준 합격
i= 문익점 불합격

In [ ]:
#과목별 최고점수, 최저점수는?

In [35]:
t.T

     국어  영어  수학  과학
홍길동  90  85  77  80
이순신  88  96  56  60
허준   56  53  64  66
문익점  76  89  39  70

In [41]:
print('국어 최고 점수=', t.T['국어'].max() )
print('영어 최고 점수=', t.T['영어'].max() )
print('수학 최고 점수=', t.T['수학'].max() )
print('과학 최고 점수=', t.T['과학'].max() )

국어 최고 점수= 90
영어 최고 점수= 96
수학 최고 점수= 77
과학 최고 점수= 80

In [42]:
print('국어 최저 점수=', t.T['국어'].min() )
print('영어 최저 점수=', t.T['영어'].min() )
print('수학 최저 점수=', t.T['수학'].min() )
print('과학 최저 점수=', t.T['과학'].min() )

국어 최저 점수= 56
영어 최저 점수= 53
수학 최저 점수= 39
과학 최저 점수= 60

In [147]:
#### 선생님의 답
exam_result = []

for exam_score in test_score.items():
    name = exam_score[0]
    score = exam_score[1]
    avg = sum(score) / len(score)
    if (avg>60 and  min(score)>40):
        exam_result.append(name)
    print('이름=',name,  '평균=',avg, '최고=',max(score), '최저=', min(score))
    
print('합격자=', exam_result)

이름= 홍길동 평균= 83.0 최고= 90 최저= 77
이름= 이순신 평균= 75.0 최고= 96 최저= 56
이름= 허준 평균= 59.75 최고= 66 최저= 53
이름= 문익점 평균= 68.5 최고= 89 최저= 39
합격자= ['홍길동', '이순신']

In [149]:
test_score.items()

dict_items([('홍길동', [90, 85, 77, 80]), ('이순신', [88, 96, 56, 60]), ('허준', [56, 53, 64, 66]), ('문익점', [76, 89, 39, 70])])

In [ ]:
for student, exam_score in enumerate(test_score. items()):
    if student ==0
        class_max = exam_score[1][:]
        class_min = exam_score[1][:]
        
    for subject, score in enumeratre(exam_score[1]):
        if class_max[subject] < score:
            class_max[subject] = score
        if class_max[subject] < score:    
            class_max[subject] = score
            
print('max=', class_max)
print('min=', class_min)

In [155]:
t.T['평균']=''
t.T['최고']=''
t.T['최저']=''
t.T['합격유무']=''
t.T

      국어  영어  수학  과학
홍길동   90  85  77  80
이순신   88  96  56  60
허준    56  53  64  66
문익점   76  89  39  70
평균
최고
최저
합격유무

In [159]:
for columns in range(0,len(t)):
    t.iloc[columns,4]

In [161]:
import numpy as np
arr = np.array(t)  ;arr

array([[90, 88, 56, 76, '', '', '', ''],
       [85, 96, 53, 89, '', '', '', ''],
       [77, 56, 64, 39, '', '', '', ''],
       [80, 60, 66, 70, '', '', '', '']], dtype=object)